.markdown-alert {
  border-left: 4px solid light-dark(#d1d9e0, #3d444d);
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.05rem;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert .markdown-alert-title svg {
  fill: currentcolor;
  margin-right: 8px;
}

.markdown-alert.markdown-alert-note {
  border-left-color: light-dark(#0969da, #1f6feb);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: light-dark(#0969da, #4493f8);
}

.markdown-alert.markdown-alert-important {
  border-left-color: light-dark(#8250df, #8957e5);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: light-dark(#8250df, #ab7df8);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: light-dark(#9a6700, #9e6a03);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: light-dark(#9a6700, #d29922);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: light-dark(#1a7f37, #238636);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: light-dark(#1a7f37, #3fb950);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: light-dark(#cf222e, #da3633);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: light-dark(#d1242f, #f85149);
}
