body {
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
}

code {
  word-break: break-all;
}

pre {
  overflow: auto;
}

table {
  border-width: 1px;
  border-style: outset;
}

table > tr > td,
table > tr > th,
table > thead > tr > td,
table > thead > tr > th,
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th {
  border-width: 1px;
  border-style: inset;
}

[data-footnote-ref] {
  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

.markdown-alert {
  margin-block: 1em;
  border-inline-start: 5px solid;
  padding-inline: 15px 20px;

  .markdown-alert-title {
    font-weight: bold;
  }

  &.markdown-alert-note {
    border-color: light-dark(#0969da, #1f6feb);

    .markdown-alert-title {
      color: light-dark(#0969da, #4493f8);
    }
  }

  &.markdown-alert-tip {
    border-color: light-dark(#1a7f37, #238636);

    .markdown-alert-title {
      color: light-dark(#1a7f37, #3fb950);
    }
  }

  &.markdown-alert-important {
    border-color: light-dark(#8250df, #8957e5);
  }

  &.markdown-alert-important .markdown-alert-title {
    color: light-dark(#8250df, #ab7df8);
  }

  &.markdown-alert-warning {
    border-color: light-dark(#9a6700, #9e6a03);
  }

  &.markdown-alert-warning .markdown-alert-title {
    color: light-dark(#9a6700, #d29922);
  }

  &.markdown-alert-caution {
    border-color: light-dark(#cf222e, #da3633);
  }

  &.markdown-alert-caution .markdown-alert-title {
    color: light-dark(#cf222e, #f85149);
  }
}
