body {
  line-height: 1.5;
  max-inline-size: 40em;
  margin-inline: auto;
  padding-inline: 24px;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
}

code {
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  font-size: 90%;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre {
  padding: 1em;
  background: light-dark(#f1f1f1, #111);
  overflow: auto;
}

ol,
ul {
  padding-inline-start: 20px;
}

blockquote,
.markdown-alert {
  border-inline-start: 5px solid #ccc;
  margin-inline: 0;
  padding-inline: 10px;
}

[data-footnote-ref]::before {
  content: "[";
}

[data-footnote-ref]::after {
  content: "]";
}

.markdown-heading {
  position: relative;

  .anchor {
    opacity: 0;
    position: absolute;
    margin-inline-start: -24px;
    margin-block: 4px;
    padding: 4px;

    .octicon {
      display: block;
      fill: currentcolor;
    }

    @media (pointer: coarse) {
      opacity: 1;
    }

    &:focus {
      opacity: 1;
    }
  }

  &:hover .anchor {
    opacity: 1;
  }
}

.markdown-alert {
  .markdown-alert-title {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--borderColor-accent-emphasis);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--fgColor-accent);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--borderColor-success-emphasis);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--fgColor-success);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--borderColor-done-emphasis);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--fgColor-done);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--borderColor-attention-emphasis);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--fgColor-attention);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--borderColor-danger-emphasis);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--fgColor-danger);
}
