:root {
  --code-comment-color: light-dark(#616972, #99a0a6);
  --code-constant-color: light-dark(#005cc5, #79b8ff);
  --code-danger-color: light-dark(#b31d28, #fdaeb7);
  --code-entity-color: light-dark(#6f42c1, #b392f0);
  --code-keyword-color: light-dark(#bf3441, #f97583);
  --code-string-color: light-dark(#032f62, #9ecbff);
  --code-warning-color: light-dark(#ae4b07, #ffab70);
}

.cm-editor {
  font-size: 15px;
  line-height: 1.4;
  color: var(--minima-text-color);
  background-color: var(--minima-code-background-color);

  .cm-content {
    padding: 8px 12px;
    caret-color: var(--minima-text-color);
  }

  .cm-line {
    padding: 0;
  }

  .cm-scroller {
    line-height: inherit;
  }

  .cm-tooltip {
    border: 1px solid var(--minima-border-color-01);
    background-color: var(--minima-code-background-color);
  }
}

.tok-comment {
  color: var(--code-comment-color);
}

.tok-atom,
.tok-bool,
.tok-literal,
.tok-number {
  color: var(--code-constant-color);
}

.tok-className,
.tok-labelName,
.tok-macroName,
.tok-namespace,
.tok-typeName {
  color: var(--code-entity-color);
}

.tok-keyword,
.tok-operator {
  color: var(--code-keyword-color);
}

.tok-string,
.tok-string2 {
  color: var(--code-string-color);
}

.tok-invalid,
.cm-specialChar {
  color: var(--code-danger-color);
}

runnable-code .warn {
  color: var(--code-warning-color);
}

runnable-code .error {
  color: var(--code-danger-color);
}
