.cm-editor {
  font-size: 15px;
  line-height: 1.4;
  color: var(--minima-text-color);
  background-color: var(--minima-code-background-color);

  .cm-content {
    padding: 8px 12px;
    caret-color: var(--minima-text-color);
  }

  .cm-line {
    padding: 0;
  }

  .cm-scroller {
    line-height: inherit;
  }

  .cm-tooltip {
    border: 1px solid var(--minima-border-color-01);
    background-color: var(--minima-code-background-color);
  }
}

.tok-comment {
  color: light-dark(#6a737d, #6a737d);
}

.tok-definition,
.tok-emphasis,
.tok-local,
.tok-propertyName,
.tok-punctuation,
.tok-strong,
.tok-variableName {
  color: light-dark(#24292e, #e1e4e8);
}

.tok-atom,
.tok-bool,
.tok-heading,
.tok-literal,
.tok-number,
.tok-variableName2 {
  color: light-dark(#005cc5, #79b8ff);
}

.tok-className,
.tok-labelName,
.tok-macroName,
.tok-meta,
.tok-namespace,
.tok-typeName {
  color: light-dark(#6f42c1, #b392f0);
}

.tok-keyword,
.tok-operator {
  color: light-dark(#d73a49, #f97583);
}

.tok-string,
.tok-string2 {
  color: light-dark(#032f62, #9ecbff);
}

.tok-link,
.tok-url {
  color: light-dark(#032f62, #dbedff);
  text-decoration: underline;
}

.tok-inserted {
  color: light-dark(#22863a, #85e89d);
}

.tok-deleted,
.tok-invalid,
.cm-specialChar {
  color: light-dark(#b31d28, #fdaeb7);
}

.tok-heading,
.tok-strong {
  font-weight: bold;
}

.tok-emphasis,
.tok-invalid {
  font-style: italic;
}
