<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            <a class="u-url" href="{{ "/" | relative_url }}">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </a>
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>
      
      <div class="footer-col one-half">
        <p><a href="{{ site.github.repository_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> {{ site.github.repository_nwo }}</a></p>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
