<header class="site-header">

  <nav class="site-nav">
    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <div class="site-title">
        <a rel="author" href="{{ "/" | relative_url }}">
          <div><img src="{{ "/favicon-256.png" | relative_url }}" alt=""></div>
          <div>{{ site.title | escape }}</div>
        </a>
      </div>
      {% if titles_size > 0 %}
        <ul role="menubar">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
              <li role="none"><a role="menuitem" class="page-link {{ my_page.name | split: "." | first }}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </nav>
</header>
