<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      {% assign titles_size = site.pages | map: 'title' | join: '' | size %}
      <div class="site-title">
        <a rel="author" href="{{ "/" | relative_url }}">
          <img src="{{ "/favicon-256.png" | relative_url }}" title="{{ site.title | escape }}" alt="{{ site.title | escape }}">
        </a>
      </div>
      {% if titles_size > 0 %}
        <ul role="menubar">
          {% for path in page_paths %}
            {% assign site_page = site.pages | where: "path", path | first %}
            {% if site_page_categories contains site_page.categories[0] %}
              {% assign containing = "containing" %}
            {% else %}
              {% assign containing = "" %}
            {% endif %}
            {% if site_page.title %}
              <li role="none"><a role="menuitem" class="page-link {{ site_page.name | split: "." | first }} {{ containing }}" href="{{ site_page.url | relative_url }}">{{ site_page.title | escape }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</header>
