---
# Only the main Sass file needs front matter (the dashes are enough)
---

$spacing-unit: 32px;

$text-color: black;
$background-color: white;
$brand-color: black;

$content-width: 720px;

$on-palm: 480px;
$on-laptop: 720px;

@import "minima";

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

::selection {
  color: white;
  background-color: $text-color;
}

a, button, input[type="button"] {
  display: inline;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: inherit;
  text-decoration: underline;
  background: none;
  padding: 0;
}

a:hover, button:hover, input[type="button"]:hover {
  background: gainsboro;
}

nav a, nav button, nav input[type="button"], form a, form button, form input[type="button"] {
  display: inline-block;
  width: auto;
  height: auto;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  background: none;
  border: none;
  padding: 0.5em;
  margin: 0;
  letter-spacing: -0.05em;
}

p label {
  display: block;
}

p label input, p label textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input, textarea {
  height: auto;
  padding: 0.25em;
  border: medium solid;
  font-size: inherit;
  color: $text-color;
  background: $background-color;
}

input:hover, textarea:hover, label:hover input, label:hover textarea {
  background: gainsboro;
}

input, textarea, a, button {
  outline: none;
  outline-offset: 0;
  transition: outline-width 0.05s;
}

input:focus, textarea:focus, a:focus, button:focus {
  outline: $text-color solid thick;
  outline-offset: 0;
  background: $background-color;
}

.site-header {
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.site-title, .site-title:visited {
  display: inline-block;
  padding: 0.25em;
  float: none;
  font-size: 24px;
  font-weight: bold;
  background: none;
  color: $brand-color;
  letter-spacing: -0.05em;
}

.site-title:hover {
  background: gainsboro;
}

.site-title img {
  width: 128px;
  height: 128px;
}

.site-nav {
  position: static;
  float: none;
  border: none;
  background-color: inherit;
  text-align: center;
  line-height: 1.5;
}

.site-nav label[for="nav-trigger"] {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav input ~ .trigger {
  display: block;
}

.site-nav .page-link, .site-nav .page-link:not(:last-child) {
  display: inline-block;
  color: $brand-color;
  font-size: 20px;
  background: none;
  padding: 0.5em;
  margin: 0;
  letter-spacing: -0.05em;
}

.site-nav .page-link:hover {
  background: gainsboro;
  text-decoration: none;
}

.page-content {
  padding: 0;
}

.page-content img {
  display: block;
  margin: 0 auto;
}

.post-header {
  text-align: center;
}

.post-link {
  display: inline;
}

.post-meta {
  color: inherit;
}

.site-footer {
  border-top: none;
  text-align: center;
}

.footer-col-wrapper {
  margin-left: 0;
  color: inherit;
}

.footer-col {
  width: auto;
  padding-left: 0;
}

.footer-col-1,
.footer-col-2 {
  width: auto;
}

.footer-col-3 {
  width: auto;
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: auto;
  }

  .footer-col-2 {
    width: auto;
  }

  .footer-col-3 {
    width: auto;
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $spacing-unit * 1.5;
  line-height: 1.25;
}

.post-list > li {
  margin-bottom: $spacing-unit * 1.5;
}

.post-list h3 {
  margin-top: $spacing-unit / 2;
  margin-bottom: 0;
}

h2.footer-heading {
  margin-top: $spacing-unit / 2;
}

.social-media-list a:hover {
  text-decoration: underline;
}

pre,
code {
  font-family: D2Coding, Consolas, monospace;
}

pre,
code {
  border-width: 2px;
  border-radius: 0;
  background: #fcfaf8;
}

code {
  padding: 0 3px;
}

.highlight {
  .highlighter-rouge & {
    background: #fcfaf8;
  }
}
