---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-color: #111;

$content-width: 720px;

$on-palm: 480px;
$on-laptop: 720px;

@import "minima";

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

.site-header {
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.site-title {
  float: none;
}

.site-title img {
  width: 64px;
  height: 64px;
}

.site-nav {
  position: static;
  float: none;
  border: none;
  background-color: inherit;
  text-align: center;
}

.site-nav label[for="nav-trigger"] {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav input ~ .trigger {
  display: block;
}

.site-nav .page-link {
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em 1.25em;
}

.site-nav .page-link:not(:last-child) {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.page-content {
  padding: 0;
}

.page-content a {
  text-decoration: underline;
}

.page-content img {
  display: block;
  margin: 0 auto;
}

.post-header {
  text-align: center;
}

.site-footer {
  border-top: none;
  text-align: center;
}

.footer-col-wrapper {
  margin-left: 0;
}

.footer-col {
  width: auto;
  padding-left: 0;
}

.footer-col-1,
.footer-col-2 {
  width: auto;
}

.footer-col-3 {
  width: auto;
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: auto;
  }

  .footer-col-2 {
    width: auto;
  }

  .footer-col-3 {
    width: auto;
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $spacing-unit * 1.5;
}

.post-list > li {
  margin-bottom: $spacing-unit * 1.5;
}

.post-list h3 {
  margin-top: $spacing-unit / 2;
  margin-bottom: 0;
}

h2.footer-heading {
  margin-top: $spacing-unit / 2;
}

a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

pre,
code {
  font-family: D2Coding, Consolas, monospace;
}

pre,
code {
  border-width: 2px;
  border-radius: 0;
  background: #fcfaf8;
}

code {
  background: none;
  padding: 0 3px;
  border: none;
}

.highlight {
  .highlighter-rouge & {
    background: #fcfaf8;
  }
}
