---
layout: default
---

<div class="category">
  {{ content }}

  {%- assign basename = page.name | split: "." | first -%}
  {%- assign category = site.categories[basename] -%}
  {%- if category.size > 0 -%}
    <h2 class="post-list-heading">{{ page.title | default: "Posts" }} 글 목록</h2>
    <ul class="post-list">
      {%- for post in category -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <p><a href="{{ site.github.repository_url }}/new/{{ site.github.source.branch }}{{ site.github.source.path }}_posts">🖊️ 글쓰기</a></p>
  {%- endif -%}

</div>
