---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline"><a class="u-url" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></h1>
    <p class="post-meta">
      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span><br>
      {%- endif -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time> 작성
      <span id="modification-info" hidden>
        • <time id="date-modified"></time> 수정 • <span id="revision"></span>차 수정
        <script
            data-githubownername="{{ site.github.owner_name }}"
            data-githubrepositoryname="{{ site.github.repository_name }}"
            data-path="{{ page.path }}">
          var modificationInfo = document.querySelector("#modification-info");
          var dateModified = document.querySelector("#modification-info #date-modified");
          var revision = document.querySelector("#modification-info #revision");
          var ownerName = document.querySelector("#modification-info script").dataset.githubownername;
          var repositoryName = document.querySelector("#modification-info script").dataset.githubrepositoryname;
          var path = document.querySelector("#modification-info script").dataset.path;
          
          var client = new XMLHttpRequest();
          client.onreadystatechange = function () {
            if(this.readyState == this.DONE) {
              var lastPage = this.getResponseHeader("Link")
                .split(",")
                .filter(function (e) { return e.indexOf('rel="last"') != -1 })[0]
                .match(/<.*&page=(\d+)>/)[1];
              if (lastPage > 1) {
                let dateISOString = new Date(JSON.parse(this.response)[0].commit.author.date).toISOString();
                dateModified.datetime = dateISOString;
                dateModified.textContent = dateISOString.split("T")[0];
                revision.textContent = lastPage - 1;
                modificationInfo.hidden = false;
              }
            }
          };
          client.open("GET", "https://api.github.com/repos/" + ownerName + "/" + repositoryName + "/commits?path=" + encodeURIComponent(path) + "&per_page=1");
          client.send();
        </script>
      </span>
      {%- assign repository_url = site.github.repository_url -%}
      {%- assign source = site.github.source -%}
      {%- assign path = page.path -%}
      • <a href="{{ repository_url }}/commits/{{ source.branch }}{{ source.path }}{{ path }}">📜 수정 내역 보기</a>
      • <a href="{{ repository_url }}/edit/{{ source.branch }}{{ source.path }}{{ path }}">🖊️ 수정</a>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2>이 블로그의 다른 글</h2>
  <div id="previous-posts">
    {% if page.previous %}
      {% if page.previous.previous %}
        <p><a href="{{ page.previous.previous.url }}">&laquo;&laquo; {{ page.previous.previous.title }}</a></p>
      {% endif %}

      <p><a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a></p>
    {% endif %}
  </div>
  <div id="next-posts">
    {% if page.next %}
      <p><a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a></p>

      {% if page.next.next %}
        <p><a href="{{ page.next.next.url }}">{{ page.next.next.title }} &raquo;&raquo;</a></p>
      {% endif %}
    {% endif %}
  </div>

  {%- if site.staticman -%}
    <h2 id="comments">댓글</h2>
    {%- include staticman_comments.html -%}
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    <h2 id="comments">댓글</h2>
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>
