---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <img src="https://avatars0.githubusercontent.com/u/9026978?s=96" style="width: 48px; height: 48px; border-radius: 24px" />
          <br />
          <span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span>
        </span>
        <br />
      {%- endif -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time> 작성
      <span id="modification-info" hidden>
        • <time id="date-modified"></time> 수정
        <script
            data-githubownername="{{ site.github.owner_name }}"
            data-githubrepositoryname="{{ site.github.repository_name }}"
            data-path="{{ page.path }}">
          var modificationInfo = document.querySelector("#modification-info");
          var dateModified = document.querySelector("#modification-info #date-modified");
          var ownerName = document.querySelector("#modification-info script").dataset.githubownername;
          var repositoryName = document.querySelector("#modification-info script").dataset.githubrepositoryname;
          var path = document.querySelector("#modification-info script").dataset.path;
          
          var client = new XMLHttpRequest();
          client.onreadystatechange = function () {
            if(this.readyState == this.DONE) {
              var lastPage = this.getResponseHeader("Link")
                .split(",")
                .filter(function (e) { return e.indexOf('rel="last"') != -1 })[0]
                .match(/<.*&page=(\d+)>/)[1];
              if (lastPage > 1) {
                let date = new Date(JSON.parse(this.response)[0].commit.author.date);
                dateModified.datetime = date.toISOString();
                dateModified.textContent = new Date(date.getTime() - date.getTimezoneOffset() * 60 * 1000).toISOString().split("T")[0];
                modificationInfo.hidden = false;
              }
            }
          };
          client.open("GET", "https://api.github.com/repos/" + ownerName + "/" + repositoryName + "/commits?path=" + encodeURIComponent(path) + "&per_page=1");
          client.send();
        </script>
      </span>
    </p>
  </header>
  <section id="toc">
    <details>
      <summary>목차</summary>
      <nav>
        {% include toc.html html=content %}
      </nav>
    </details>
  </section>
  <div class="post-content e-content" itemprop="articleBody">
    {% include anchor_headings.html html=content anchorClass="material-icons" anchorBody="link" %}
  </div>

<!--   <section id="other-posts">
    <h2>이 블로그의 다른 글</h2>
    {% if page.previous or page.next %}
      <ul>
        {% if page.previous %}
          {% if page.previous.previous %}
            <li>
              <a href="{{ page.previous.previous.url }}">{{ page.previous.previous.title }}</a>
              <p>{{ page.previous.previous.excerpt }}</p>
            </li>
          {% endif %}

          <li>
            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
            <p>{{ page.previous.excerpt }}</p>
          </li>
        {% endif %}
        {% if page.next %}
          <li>
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
            <p>{{ page.next.excerpt }}</p>
          </li>

          {% if page.next.next %}
            <li>
              <a href="{{ page.next.next.url }}">{{ page.next.next.title }}</a>
              <p>{{ page.next.next.excerpt }}</p>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    {% else %}
      <p>다른 글이 없습니다.</p>
    {% endif %}
  </section> -->

  {%- if site.disqus.shortname -%}
    <h2 id="comments">댓글</h2>
    <article>
      {%- include disqus_comments.html -%}
    </article>
  {%- endif -%}

</article>
